.activity-bar
  grid-area activity
  background var(--c1)
  display flex
  flex-direction column
  align-items center
  border-right 1px solid var(--c2)
  padding 0 1em
  svg
    width 2em
    margin-top 1.5em
    fill var(--c3)
    opacity 0.5
    &.active, &:hover
      opacity 1
