.tabs
   .tab.active.target-active-tab.target-primary-font JavaScript
   .tab.target-inactive-tabs.target-secondary-font HTML
   .tab.target-inactive-tabs.target-secondary-font CSS
   .tab.target-inactive-tabs.target-secondary-font React
   .tab.target-inactive-tabs.target-secondary-font Pug
   .tab.target-inactive-tabs.target-secondary-font Stylus
   .tab.target-inactive-tabs
