.tabs
   .tab.active.target-active-tab.target-primary-font.target-tab-border JavaScript
   .tab.target-inactive-tabs.target-secondary-font.target-tab-border HTML
   .tab.target-inactive-tabs.target-secondary-font.target-tab-border CSS
   .tab.target-inactive-tabs.target-secondary-font.target-tab-border React
   .tab.target-inactive-tabs.target-secondary-font.target-tab-border Pug
   .tab.target-inactive-tabs.target-secondary-font.target-tab-border Stylus
   .tab.target-inactive-tabs.target-tab-border
