on-sm()
  @media (max-width: 1200px)
    {block}

on-xs()
  @media (max-width: 800px)
    {block}


@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

.container
  display grid
  grid-template-columns: 1.5fr 1fr
  width 100%
  max-width 1300px
  grid-gap 30px
  margin 0 auto
  +on-sm()
    max-width 700px
    grid-template-columns: 1fr


body
  font-family     Arial
  -webkit-font-smoothing: antialiased;
  padding 3em 2em
  font-size 9px
  min-height: 110vh
  +on-xs()
    font-size 7px

@import 'components/theme-designer/_'
@import 'components/vscode/_'

// @keyframes highlight
//   from
//     background-position 0px
//   to
//     background-position: 10px


// [class*='target-']
//   background-size 10px 100%
//   background-repeat: repeat
