<!DOCTYPE html>
html
   head
      title CODE THEMER
      link(rel="stylesheet" type="text/css" href='style.css')
   body

      .container
         include components/vscode/_
         include components/theme-designer/_

      // must be this order
      script(src='./javascript/themer.js' )
      script(src='./javascript/colors.js' )
      script(src='./javascript/copy.js' )
      //
      script(src='./javascript/variables.js' )
      script(src='./javascript/sliders.js' )
      script(src='./javascript/pallete.js' )
      script(src='./javascript/targets.js' )
      script(src='./javascript/main.js' )
      script(src='./javascript/tabs.js' )



