on-sm()
  @media (max-width: 1200px)
    {block}

on-xs()
  @media (max-width: 800px)
    {block}


@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');



.container
  display grid
  grid-template-columns: 1.5fr 1fr
  width 100%
  max-width 1300px
  grid-gap 30px
  margin 0 auto
  padding 30px 10px
  align-items: center
  // border 1px solid
  +on-sm()
    max-width 700px
    grid-template-columns: 1fr


body
  font-family     Arial
  -webkit-font-smoothing: antialiased;
  font-size 9px
  min-height: 100vh
  box-sizing: border-box
  margin 0
  padding 0
  display grid
  place-items center
  +on-xs()
    font-size 7px

@import 'components/theme-designer/_'
@import 'components/vscode/_'


[class*='target-']
  transition: background 300ms ease


// @keyframes highlight
//   from
//     background-position 0px
//   to
//     background-position: 10px


// [class*='target-']
//   background-size 10px 100%
//   background-repeat: repeat
