body
   link(rel="stylesheet" type="text/css" href='style.css')
   script(src='./javascript/main.js' defer type="module")
   script(src='./javascript/tabs.js' defer)

   .container
      include components/vscode/_
      include components/theme-designer/_