@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap");
.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  max-width: 1300px;
  grid-gap: 30px;
  margin: 0 auto;
  padding: 30px 10px;
  align-items: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 700px;
    grid-template-columns: 1fr;
  }
}
body {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}
@media (max-width: 800px) {
  body {
    font-size: 7px;
  }
}
.theme-designer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Fira Code', monospace;
}
@media (max-width: 1200px) {
  .theme-designer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
.theme-designer .selection {
  display: flex;
  flex-direction: column;
  --h: 180deg;
  --s: 50%;
  --l: 50%;
  --color: #000;
  --font: #000;
  --border: #fff;
}
.theme-designer .selection .copy-theme {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}
.theme-designer .selection .copy-theme textarea {
  width: 0px;
  height: 0px;
  opacity: 0;
}
.theme-designer .selection .copy-theme .copy {
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border: 2px solid #000;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  border-radius: 30px;
}
.theme-designer .selection .copy-theme .copy:active,
.theme-designer .selection .copy-theme .copy:focus {
  outline: none;
}
.theme-designer .selection input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  font-size: 3em;
  padding: 0.2em 0.5em;
  font-family: 'Fira Code', monospace;
  border: 2px solid var(--border);
  transition: border 400ms ease;
  text-transform: uppercase;
  background-color: var(--color);
  color: var(--font);
  border-radius: 8px;
}
.theme-designer .selection input[type='text']:active,
.theme-designer .selection input[type='text']:focus {
  outline: none;
}
.theme-designer .selection .info {
  font-size: 1.5em;
  margin: 20px 0;
  text-transform: lowercase;
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  align-content: center;
}
.theme-designer .selection .info p {
  background-color: var(--color);
  color: var(--font);
  display: inline-block;
  border-radius: 6px;
  padding: 0.5em 1em;
  margin: 0.2em 0.4em;
  margin-left: -1px;
  border: 1px solid var(--border);
  cursor: pointer;
  transition: transform 200ms ease;
  height: 20px;
}
.theme-designer .selection .info p:not(.disable):hover {
  background: var(--hover);
}
.theme-designer .selection .info p.disable {
  cursor: not-allowed;
  filter: grayscale(100%);
}
.theme-designer .slider {
  position: relative;
  margin: 0.5em 0;
}
.theme-designer .slider:hover .bubble {
  transform: translate(-50%, -50%) scale(1.4);
}
.theme-designer .slider:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5em;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}
.theme-designer .slider input {
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.theme-designer .slider input:focus,
.theme-designer .slider input:active {
  outline: none;
}
.theme-designer .slider .bubble {
  width: 1.5em;
  height: 1.5em;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  pointer-events: none;
  transition: left 500ms ease, transform 200ms ease;
}
.theme-designer .slider.hue::before {
  background-image: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
.theme-designer .slider.saturation::before {
  background-image: linear-gradient(to right, hsl(var(--h), 0%, 50%), hsl(var(--h), 100%, 50%));
}
.theme-designer .slider.lightness::before {
  background-image: linear-gradient(to right, hsl(var(--h), 100%, 0%), hsl(var(--h), 100%, 50%), hsl(var(--h), 100%, 100%));
}
.theme-designer .theme .section:not(:last-of-type) {
  margin-bottom: 20px;
}
.theme-designer .theme .title {
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.theme-designer .theme .pallete {
  display: grid;
  grid-template-columns: repeat(auto-fit, 3em);
  grid-auto-rows: 3em;
  grid-gap: 2em;
}
.theme-designer .theme .pallete .color {
  cursor: pointer;
  transition: all 100ms ease;
  border-radius: 4px;
}
.theme-designer .theme .pallete .color.active {
  transform: scale(1.3);
}
.vscode {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  color: var(--c8);
  height: 450px;
  display: grid;
  grid-template-columns: auto 20% 40px 1fr;
  grid-template-rows: auto auto auto 1fr 20px;
  grid-template-areas: 'title title title title' 'activity side tabs tabs' 'activity side lines editor' 'activity side terminal terminal' 'status status status status';
}
@media (max-width: 1200px) {
  .vscode {
    height: 350px;
  }
}
.vscode .activity-bar {
  grid-area: activity;
  background-color: var(--c1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--c2);
  padding: 0 1em;
  position: relative;
}
.vscode .activity-bar svg {
  width: 2em;
  margin-top: 1.5em;
  fill: var(--c3);
  opacity: 0.5;
}
.vscode .activity-bar svg.active,
.vscode .activity-bar svg:hover {
  opacity: 1;
}
.vscode .activity-bar .badge {
  background: var(--c4);
  color: #000;
  font-size: 0.8em;
  padding: 0.3em;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 21%;
  transition: transform 200ms ease;
}
.vscode .editor {
  grid-area: editor;
  background-color: var(--c9);
  font-family: 'Fira Code', monospace;
  padding: 5px 0;
}
.vscode .editor .page {
  display: none;
}
.vscode .editor .page.show {
  display: block;
}
.vscode .editor.dim .line > * {
  filter: grayscale(100%);
  opacity: 0.2;
}
.vscode .editor .space {
  font-size: 0.5em;
}
.vscode .editor .line {
  display: flex;
  font-size: 12px;
  padding: 0.1em;
  user-select: none;
}
@media (max-width: 1200px) {
  .vscode .editor .line {
    font-size: 9px;
  }
}
.vscode .editor .line.current-line {
  background: var(--currentLine);
}
.vscode .editor .line > * {
  border: 1px solid transparent;
  transition: all 200ms ease;
}
.vscode .editor .line .no-border {
  border: none;
  border-top: 2px solid transparent;
}
.vscode .editor .line.target-selected-text {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
}
.vscode .editor .line.target-selected-text > * {
  background: var(--selected);
}
.vscode .editor .line.target-selected-text .last-char {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 3px;
}
.vscode .editor .line.target-selected-text .before-curve {
  border-bottom-right-radius: 3px;
  padding-right: 3px;
}
.vscode .editor .line.target-selected-text .curve {
  --hide: var(--c9);
  background: var(--selected);
  position: relative;
  border: none;
}
.vscode .editor .line.target-selected-text .curve:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  background: var(--hide);
  transition: background 300ms ease;
}
.vscode .c1 {
  color: var(--c1);
}
.vscode .c2 {
  color: var(--c2);
}
.vscode .c3 {
  color: var(--c3);
}
.vscode .c4 {
  color: var(--c4);
}
.vscode .c5 {
  color: var(--c5);
}
.vscode .c6 {
  color: var(--c6);
}
.vscode .c7 {
  color: var(--c7);
}
.vscode .c8 {
  color: var(--c8);
}
.vscode .c9 {
  color: var(--c9);
}
.vscode .c10 {
  color: var(--c10);
}
.vscode .c11 {
  color: var(--c11);
}
.vscode .c12 {
  color: var(--c12);
}
.vscode .c13 {
  color: var(--c13);
}
.vscode .c14 {
  color: var(--c14);
}
.vscode .c15 {
  color: var(--c15);
}
.vscode .c16 {
  color: var(--c16);
}
.vscode .c17 {
  color: var(--c17);
}
.vscode .c18 {
  color: var(--c18);
}
.vscode .c19 {
  color: var(--c19);
}
.vscode .c20 {
  color: var(--c20);
}
.vscode .c21 {
  color: var(--c21);
}
.vscode .c22 {
  color: var(--c22);
}
.vscode .c23 {
  color: var(--c23);
}
.vscode .c24 {
  color: var(--c24);
}
.vscode .c25 {
  color: var(--c25);
}
.vscode .c26 {
  color: var(--c26);
}
.vscode .c27 {
  color: var(--c27);
}
.vscode .c28 {
  color: var(--c28);
}
.vscode .c29 {
  color: var(--c29);
}
.vscode .c30 {
  color: var(--c30);
}
.vscode .c31 {
  color: var(--c31);
}
.vscode .c32 {
  color: var(--c32);
}
.vscode .c33 {
  color: var(--c33);
}
.vscode .c34 {
  color: var(--c34);
}
.vscode .c35 {
  color: var(--c35);
}
.vscode .c36 {
  color: var(--c36);
}
.vscode .c37 {
  color: var(--c37);
}
.vscode .c38 {
  color: var(--c38);
}
.vscode .c39 {
  color: var(--c39);
}
.vscode .c40 {
  color: var(--c40);
}
.vscode .c41 {
  color: var(--c41);
}
.vscode .c42 {
  color: var(--c42);
}
.vscode .c43 {
  color: var(--c43);
}
.vscode .c44 {
  color: var(--c44);
}
.vscode .c45 {
  color: var(--c45);
}
.vscode .c46 {
  color: var(--c46);
}
.vscode .c47 {
  color: var(--c47);
}
.vscode .c48 {
  color: var(--c48);
}
.vscode .c49 {
  color: var(--c49);
}
.vscode .c50 {
  color: var(--c50);
}
.vscode .comment {
  color: var(--comment);
}
.vscode .currentLine {
  color: var(--currentLine);
}
.vscode .selected {
  color: var(--selected);
}
.vscode .cursor {
  background: var(--c4);
  width: 0.3em;
}
.vscode .lines {
  grid-area: lines;
  background-color: var(--c1);
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  padding: 5px 10px;
  text-align: right;
  user-select: none;
}
.vscode .lines .line {
  font-size: 12px;
  padding: 0.1em 0;
  border: 1px solid transparent;
}
@media (max-width: 1200px) {
  .vscode .lines .line {
    font-size: 9px;
  }
}
.vscode .side-bar {
  grid-area: side;
  background-color: var(--c10);
  border-right: 1px solid var(--c2);
  user-select: none;
}
.vscode .side-bar .content .file {
  padding: 0.5em 0 0.5em 2em;
  cursor: pointer;
}
.vscode .side-bar .content .file.active {
  background-color: var(--c2);
}
.vscode .side-bar .title {
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-size: 0.9em;
}
.vscode .side-bar .group {
  background-color: var(--c9);
  padding: 0.5em 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.vscode .status-bar {
  grid-area: status;
  background-color: var(--c27);
  border-top: 1px solid var(--c2);
}
.vscode .tabs {
  grid-area: tabs;
  display: flex;
}
.vscode .tabs .tab {
  padding: 1em 1.8em;
  border-right: 1px solid var(--c10);
  border-bottom: 1px solid var(--c10);
  background-color: var(--c26);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}
.vscode .tabs .tab:last-of-type {
  flex: 1;
  border-right: none;
}
.vscode .tabs .tab.active {
  background-color: var(--c1);
  color: var(--c3);
  border-bottom: 1px solid var(--c4);
}
.vscode .terminal {
  position: relative;
  grid-area: terminal;
  background-color: var(--c1);
  font-size: 0.9em;
  border-top: 1px solid var(--c2);
}
.vscode .terminal .pages {
  display: flex;
  padding: 1em 0.5em;
  text-transform: uppercase;
  width: 40%;
}
.vscode .terminal .pages .page {
  margin-left: 1em;
}
.vscode .terminal .dropdown {
  background-color: var(--c9);
  color: var(--c3);
  position: absolute;
  padding: 0.5em 1em;
  width: 7em;
  right: 10%;
  top: 1em;
}
.vscode .title-bar {
  grid-area: title;
  background-color: var(--c10);
  color: var(--c3);
  padding: 0.7em 0;
  text-align: center;
  position: relative;
}
@media (max-width: 992px) {
  .vscode .title-bar .title {
    opacity: 0;
  }
}
.vscode .title-bar .vscode-icon {
  width: 1.2em;
}
.vscode .title-bar .options {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7em 0;
}
.vscode .title-bar .options .option {
  margin-left: 1em;
}
[class*='target-'] {
  transition: background 300ms ease;
}
