.lines
  grid-area lines
  background var(--c1)
  font-family 'Fira Code', monospace
  font-size 12px
  padding  5px 10px
  text-align right

  .line
    font-size 12px
    +on-sm()
      font-size 9px
    padding: 0.2em 0;
