.selection
   input(type='text' spellcheck='false')

   .slider.hue
      .bubble
      input(type='range' min=5 max=355)
   .slider.saturation
      .bubble
      input(type='range' min=0 max=100)
   .slider.lightness
      .bubble
      input(type='range' min=0 max=100)

   .title TARGETS
   .info

   include copy

