.selection
   @import 'copy/_'

   --h 180deg
   --s 50%
   --l 50%
   --color black
   --font black
   --border white

   input[type='text']
      box-sizing border-box
      width 100%
      font-size 3em
      padding 0.2em 0.5em
      font-family 'Fira Code', monospace
      border 2px solid var(--border)
      transition border 400ms ease
      text-transform uppercase
      background-color var(--color)
      color var(--font)
      border-radius 8px
      &:active, &:focus
         outline none

   .title
      margin-top 30px
      margin-bottom 20px
      letter-spacing: 0.1em
      font-size 2em
      text-transform: uppercase

   .info
      font-size 1.5em
      margin-top 1em
      text-transform: lowercase
      display flex
      flex-wrap wrap

      p
         background-color var(--color)
         color var(--font)
         display inline-block
         border-radius 6px
         padding 0.5em 1em
         margin 0.2em
         border 2px solid var(--border)
         cursor pointer
         transition transform 200ms ease
         &:hover
            transform scale(1.1)



// HSL sliders ----------------
.slider
   position relative
   margin 0.5em 0
   &:hover .bubble
      transform translate(-50%, -50%) scale(1.4)
   &:before
      content ''
      position absolute
      width 100%
      height 2.5em
      top 50%
      transform translateY(-50%)
      border-radius 4px


   input
      width 100%
      opacity 0
      cursor pointer
      &:focus, &:active
         outline none

   .bubble
      width 1.5em
      height 1.5em
      background-color white
      position absolute
      border-radius 50%
      left 50%
      transform translate(-50%, -50%)
      top 50%
      pointer-events none
      transition left 500ms ease, transform 200ms ease

   &.hue::before
         background-image: linear-gradient(to right,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%))

   &.saturation::before
      background-image linear-gradient(to right, unquote('hsl(var(--h), 0%, 50%)'), unquote('hsl(var(--h), 100%, 50%)'))

   &.lightness::before
      background-image: linear-gradient(to right, unquote('hsl(var(--h), 100%, 0%)'), unquote('hsl(var(--h), 100%, 50%)'), unquote('hsl(var(--h), 100%, 100%)'))



