.editor
  grid-area editor
  background-color var(--c9)
  font-family: 'Fira Code', monospace;
  padding 5px 0
  &.dim .line > *
    filter grayscale(100%)
    opacity 0.2

  .space
    font-size 0.5em

  .line
    display flex
    font-size 12px
    padding: 0.1em;
    & *::selection
      background var(--selected)
    +on-sm()
      font-size 9px


    &.current-line
      background var(--currentLine)
    & > *
      border 1px solid transparent
      transition all 200ms ease




for i in 1..21
  .c{i}
    color var('--c%s' % i)

.comment
  color var(--comment)
.currentLine
  color var( --currentLine)
.selected
  color var(--selected)
.cursor
  background var(--c4)
  width 0.3em
