.editor
  grid-area editor
  background-color var(--c9)
  font-family: 'Fira Code', monospace;
  padding 5px 0

  .page
    display none
    &.show
      display block

  &.dim .line > *
    filter grayscale(100%)
    opacity 0.2

  .space
    font-size 0.5em

  .line
    display flex
    font-size 12px
    padding: 0.1em;
    user-select: none
    +on-sm()
      font-size 9px


    &.current-line
      background var(--currentLine)
    & > *
      border 1px solid transparent
      transition all 200ms ease
    .no-border
      border none
      border-top 2px solid transparent
    &.target-selected-text
      padding-bottom 0
      padding-top 0
      padding-left 0
      & > *
        background var(--selected)

      .last-char
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px
        padding-right 3px
      .before-curve
        border-bottom-right-radius: 3px
        padding-right 3px
      .curve
        background var(--selected)
        position relative
        border none
        &:before
          content ' '
          position absolute
          width 100%
          height 100%
          top 0
          left 0
          border-top-left-radius: 3px
          background var(--c9)





for i in 1..30
  .c{i}
    color var('--c%s' % i)

.comment
  color var(--comment)
.currentLine
  color var( --currentLine)
.selected
  color var(--selected)
.cursor
  background var(--c4)
  width 0.3em
