.css.page
   //- .btn {
   .line
      .c19.target-dots .
      .c15.target-class counter
      +space
      .c19.target-curly {

   //- .counter {
   .line
      +tab
      +tab
      .c21.target-css-props padding
      .c19.target-dots :
      +space
      .c20.target-css-values.no-border 10
      .c7.target-css-units.no-border px
      +space
      .c20.target-css-values.no-border 20
      .c7.target-css-.no-border px
      .c19.target-dots ;
   //- font-size: 16px;
   .line
      +tab
      +tab
      .c21.target-css-props font-size
      .c19.target-dots :
      +space
      .c20.target-css-values.no-border 1
      .c7.target-css-units.no-border rem
      .c19.target-dots ;
   //- background: blue;
   .line
      +tab
      +tab
      .c21.target-css-props background-color
      .c19.target-dots :
      +space
      .c15.target-css-var var
      .c19.target-dots (
      .c18.target-css-var-name --bg
      .c19.target-dots )
      .c19.target-dots ;
   //- }
   .line
      .c19.target-curly }

   .line
      +space

   //- .counter:hover, .counter:active {
   .line
      .c19.target-dots .
      .c15.target-class counter
      .c19.target-dots :
      .c19.target-css-ps hover
      .c19.target-dots ,
      +space
      .c19.target-dots .
      .c15.target-class counter
      .c19.target-dots :
      .c19.target-css-ps active
      +space
      .c19.target-curly {
   //- outline: none !important;
   .line
      +tab
      +tab
      .c21.target-css-props outline
      .c19.target-dots :
      +space
      .c20.target-css-values none
      +space
      .c7.target-importat !important
      .c19.target-dots ;

   //- }
   .line
      .c19.target-curly }

   .line
      +space

   //- @media (max-width: 480px) {
   .line
      .c19.target-dots @
      .c7.target-media media
      +space
      .c19.target-dots (
      .c20.target-css-brw max-width
      .c19.target-dots :
      +space
      .c20.target-css-values.no-border 480
      .c7.target-css-units.no-border px
      .c19.target-dots )
      +space
      .c19.target-curly {

   //- padding 5px 10px
   .line.current-line.target-current-line
      +tab
      +tab
      .c21.target-css-props padding
      .c19.target-dots :
      +space
      .c20.target-css-values.no-border 5
      .c7.target-css-units.no-border px
      +space
      .c20.target-css-values.no-border 10
      .c7.target-css-.no-border px
      .c19.target-dots ;
      .cursor.target-cursor

   //- font-size 0.8rem
   .line.target-selected-text
      +tab
      +tab
      .c21.target-css-props font-size
      .c19.target-dots :
      +space
      .c20.target-css-values.no-border 0.8
      .c7.target-css-units.no-border rem
      .c19.target-dots.last-char ;


   //- }
   .line.target-selected-text
      .c19.target-curly.before-curve }
      .curve &nbsp;

