.js.show
   // const btn = document.getElementById('btn')
   .line
      .c4.target-const const
      +space
      .c19 counter
      +space
      .c7 =
      +space
      .c19 document.
      .c4.target-var-props getElementById
      .c19 (
      .c21 'counter'
      .c19 )
      .c19 ;

   // let count = 0
   .line
      .c4.target-let let
      +space
      .c19 count
      +space
      .c7.target-operators =
      +space
      .c14.target-constants 0
      .c19 ;

   // empty line
   .line
      +space

   // function render() {
   .line
      .c16 function
      +space
      .c4.target-function-name render
      .c21 ()
      +space
      .c4 {

   // _ btn.innerText = `Count: ${count}`
   .line
      +space
      +space
      .c19 counter.
      .c4.target-var-props innerText
      +space
      .c7.target-operators =
      +space
      .c15 `count is
      +space
      .c21 ${
      .c19 count
      .c21 }
      .c21 `
      .c19 ;

   // }
   .line
      .c19 }

   // empty line
   .line
      +space

   // btn.addEventListener('click', () => {
   .line
      .c19 counter.
      .c4.target-var-props addEventListener
      .c19 (
      .c21 'click'
      .c19 ,
      .c21 &nbsp;()&nbsp;
      .c4.target-arrow =>
      +space
      .c19 {

   // // Count from 1 to 10.
   .line
      .comment &nbsp;&nbsp;// count from 1 to 10.

   // if (count < 10) {
   .line
      +tab
      .c7.target-if if
      +space
      .c19 (
      .c19 count
      .c7 &nbsp;<&nbsp;
      .c14.target-constants 10
      .c19 )
      .c19 &nbsp;{

   // count += 1
   .line.current-line
      +tab
      +tab
      .c19 count
      .c7.target-operators &nbsp;+=&nbsp;
      .c14.target-constants 1
      .c19 ;
      .cursor.target-cursor

   // render()
   .line
      +tab
      +tab
      .c4.target-function-name render
      .c19 ()
      .c19 ;
   .line
      +tab
      .c19 }

   .line
      .c19 })
