.js.show
   // const counter = document.querySelector('.counter')
   .line
      .c4.target-const const
      +space
      .c19.target-var-names counter
      +space
      .c7 =
      +space
      .c19.target-var-names document
      .c19.target-dots .
      .c4.target-var-props querySelector
      .c19 (
      .c21.target-strings '.counter'
      .c19 )
      .c19.target-dots ;

   // let count = 0
   .line
      .c4.target-let let
      +space
      .c19.target-var-names count
      +space
      .c7.target-operators =
      +space
      .c14.target-constants 0
      .c19.target-dots ;




   // empty line
   .line
      +space

   // function render() {
   .line
      .c16.target-function-keyword function
      +space
      .c4.target-function-name render
      .c21 ()
      +space
      .c19.target-curly {

   // _ btn.innerText = `Count: ${count}`
   .line
      +space
      +space
      .c19.target-var-names counter
      .c19.target-dots .
      .c4.target-var-props innerText
      +space
      .c7.target-operators =
      +space
      .c15.target-template-strings `count is
      +space
      .c21 ${
      .c19.target-var-names count
      .c21 }
      .c21.target-template-strings `
      .c19.target-dots ;

   // }
   .line
      .c19.target-curly }

   // empty line
   .line
      +space

   // counter.addEventListener('click', () => {
   .line
      .c19.target-var-names counter
      .c19.target-dots .
      .c4.target-var-props addEventListener
      .c19 (
      .c21.target-strings 'click'
      .c19.target-dots ,
      .c21 &nbsp;()&nbsp;
      .c4.target-arrow =>
      +space
      .c19.target-curly {

   // // Count from 1 to 10.
   .line
      .comment.target-comment &nbsp;&nbsp;// count from 1 to 10.

   // if (count < 10) {
   .line
      +tab
      .c7.target-if if
      +space
      .c19 (
      .c19.target-var-names count
      .c7 &nbsp;<&nbsp;
      .c14.target-constants 10
      .c19 )
      .c19.target-curly &nbsp;{

   // count += 1
   .line.current-line.target-current-line
      +tab
      +tab
      .c19.target-var-names count
      .c7.target-operators &nbsp;+=&nbsp;
      .c14.target-constants 1
      .c19.target-dots ;
      .cursor.target-cursor

   // render()
   .line.target-selected-text
      +tab
      +tab
      .c4.target-function-name render
      .c19 ()
      .c19.target-dots.last-char ;

   .line.target-selected-text
      +tab
      .c19.target-curly.before-curve }
      .curve &nbsp;


   .line
      .c19.target-curly })


