.theme
   .section:not(:last-of-type)
      margin-bottom 20px

   .title
      font-size 2em
      letter-spacing: 0.1em
      margin-bottom 1em
      text-transform: uppercase

   .pallete
      display grid
      grid-template-columns repeat(auto-fit, 3em)
      grid-auto-rows: 3em
      grid-gap 2em

      .color
         cursor pointer
         transition all 100ms ease
         border-radius 4px
         &.active
            transform: scale(1.3)



