.side-bar.target-side-bar
   .title Explorer
   .group.target-side-bar-group open editors
   .content
      .file xyz
      .file.active.target-active-file xyz
   .group.target-side-bar-group open editors
   .content
      .file xyz
      .file xyz
