.side-bar.target-side-bar
   .title.target-secondary-font Explorer
   .group.target-side-bar-group.target-secondary-font open editors
   .content.target-secondary-font
      .file.active.target-active-file cyber.js
      .file index.css
      .file index.html
   .group.target-side-bar-group.target-secondary-font Project X