.side-bar
  grid-area side
  background-color var(--c10)
  border-right 1px solid var(--c2)
  user-select none
  .content
    .file
      padding 0.5em 0 0.5em 2em
      cursor pointer
      &.active
        background-color var(--c2)
  .title
    padding 1em 1.5em
    text-transform uppercase
    font-size 0.9em
  .group
    background-color var(--c9)
    padding 0.5em 1em
    font-weight bold
    text-transform: uppercase
