.terminal
  position relative
  grid-area terminal
  background-color var(--c1)
  font-size 0.9em
  border-top 1px solid var(--c2)
  .pages
    display flex
    padding 1em 0.5em
    text-transform uppercase
    width 40%
    .page
      margin-left 1em
  .dropdown
    background-color var(--c9)
    color var(--c3)
    position absolute
    padding 0.5em 1em
    width 7em
    right 10%
    top 1em

// -------------------