.copy-theme
   position absolute
   right 0
   bottom 0
   margin 20px

   textarea
      width 0px
      height 0px
      opacity 0

   .copy

      background-color white
      color black
      font-size 1.5em
      border 2px solid black
      padding 0.5em 1em
      letter-spacing: 0.1em
      cursor pointer
      border-radius 30px
      &:active, &:focus
         outline none
